.THIS.newCommunicationCardHidden {
    display: none;
}

.THIS.addBtn{
	text-align: right;
	padding-bottom: 10px;
	padding-top: 5px;
}

.THIS.addBtn button{
	text-transform: capitalize;
}

.THIS footer{
	background-color: #f3f2f2;
}

.THIS.popupNew table tr td{
	padding: 7px;
	vertical-align: middle;
}

.THIS.popupNew table tr td:first-child{
	text-align:right;
	width: 30%;
}

.THIS.popupNew table tr:last-child td{
	text-align:left;
}

.THIS.popupNew .inlineBlock{
	display: inline-block;
	margin-right: 5px;
}

.THIS.popupNew table tr td label{
	display: none;
}

.THIS.popupNew table .inputWrap{
	position: relative;
}

.THIS.popupNew table .inputWrap .btnSearch{
	position: absolute;
	top: 6px;
    margin-left: 9px;
    border-radius: 3px 3px 3px 3px;
}