.THIS .filterSelect .selectBlock{
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

.THIS .filterSelect .selectBlock .slds-form-element__label{
	display: none;
}

.THIS .filterSelect span{
	vertical-align: middle;
}

.THIS .checkboxes{
	padding-bottom: 3px;
}

.THIS .checkboxes input[type="checkbox"]{
	display: inline-block;
    margin-right: 5px;
}

.THIS.logsContainer .searchArea{
	padding: 10px 0 15px 0;
}

.THIS.logsContainer .slds-button-group{
	padding-top: 15px;
	text-align: right;
	display: block;
}

.THIS.logsContainer .slds-table .slds-cell-edit{
	padding-top: 9px;
	padding-bottom: 9px;
}

.THIS.logsContainer .slds-table .slds-icon_container{
	color: #0070D2;
	width: 14px;
    height: 14px;
    padding: 0;
    vertical-align: middle;
    padding-left: 3px;
}

.THIS.logsContainer .slds-table .slds-icon_container .upIcon{
	position: relative;
	top: -1px;
}

.THIS.logsContainer .slds-table .slds-icon_container .downIcon{
	position: relative;
	top: 1px;
}

.THIS.logsContainer .slds-card table{
    width: 100%;
}

.THIS.logsContainer .slds-card table td{
    width: 50%;
    vertical-align: top;
}

/*.THIS.logsContainer .isAlliesFalse p.title{
	font-size: 18px;
	padding-bottom: 15px;
	text-align: center;
}

.THIS.logsContainer .isAlliesFalse .slds-button-group{
	text-align: center;
}

.THIS.logsContainer .isAlliesFalse .slds-button-group input{
	border-radius: .25rem .25rem .25rem .25rem !important;
	margin: 0 5px;
}*/

.THIS.logsContainer .searchArea .inputBlock{
	display: inline-block;
	width: calc(100% - 80px);
	vertical-align: top;
}

.THIS.logsContainer .searchArea .inputBlock input{
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 36px;
    box-shadow: 0 0 0 0;
}

.THIS.logsContainer .searchArea .slds-button-group.buttonBlock{
	display: inline-block;
	width: 80px;
	vertical-align:top;
	height: 36px;
	padding-top: 0;
}

.THIS.logsContainer .searchArea .slds-button-group.buttonBlock input{
	width: 100%;
	height: 36px;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}