.THIS .menuTriggerLink {
    padding-left: 1rem;
}
.THIS .image_styles {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}
.THIS .user_name {
    padding: 0 2px 0 7px;
    font-weight: 600;
    font-size: .8125em;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}
.THIS .user_name:hover {
    color: rgb(118, 192, 67);
}
.THIS .actionMenuItem {
    line-height: 1.5;
}