.THIS .active_row_true {
    background : green;
}
.THIS .active_row_false {
    background : grey;
}

.THIS .paginationBlock{
	text-align: right;
	padding: 10px 15px;
	position: relative;
}

.THIS .paginationBlock table{
	width: auto;
	margin: 0 0 0 auto;
}

.THIS .paginationBlock table input.uiInputNumber{
	width: 40px;
    box-sizing: border-box;
    border-radius: 0;
    padding: 0 5px;
    font-size: 13px;
    line-height: 15px;
    height: 30px;
    min-height: 30px;
    margin: 0 7px;
}

.THIS .paginationBlock table tr td{
	border-right: 1px solid #98c8ff;
    padding: 0 10px;
}

.THIS .paginationBlock table tr td:last-child{
	border-right: 0;
}

.THIS .paginationBlock table tr td .uiOutputURL{
	margin: 0 3px;
}

.THIS .paginationBlock .filterSelect{
	position: absolute;
	top: 10px;
	left: 0;
}

.THIS .paginationBlock .filterSelect .selectBlock{
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

.THIS .paginationBlock .filterSelect .selectBlock .slds-form-element__label{
	display: none;
}

.THIS .paginationBlock .filterSelect span{
	vertical-align: middle;
}

.THIS .acordionContainer table tr td{
	padding: 10px;
	background: #bdb3aa;
	color: #fff;
	vertical-align: middle;
    text-align: left;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.THIS .acordionContainer table tr td:first-child{
	width: 22px;
}

.THIS .acordionContainer .slds-accordion__section{
	background: #bdb3aa;
    color: #fff;
}

.THIS .acordionContainer .slds-accordion__section.slds-is-open{
	color: rgb(51, 51, 51);
	background: transparent;
}

.THIS .acordionContainer li.notChecked .slds-accordion__section{
	background: #bdb3aa;
	color:#fff;
}

.THIS .acordionContainer li.checked .slds-accordion__section{
	background: #fff;
	color:#000;
}

.THIS .acordionContainer .slds-accordion__summary{
	position: relative;
}

.THIS .acordionContainer .slds-accordion__summary h3 button span.slds-truncate{
	margin-left: 37px;
	color: #fff;
	position: absolute;
    left: 17px;
    width: calc(100% - 60px);
}

.THIS .acordionContainer li.checked .slds-accordion__summary h3 button span.slds-truncate{
	color: #77a11e;
}

.THIS .acordionContainer .slds-accordion__summary .slds-button:focus{
	color: #fff;
	text-decoration: none;
}

.THIS .acordionContainer .slds-accordion__summary .slds-button:hover{
	color: #fff;
	text-decoration: none;
}

.THIS .acordionContainer .slds-accordion__summary .slds-button:active{
	color: #fff;
	text-decoration: none;
}

.THIS .acordionContainer .slds-accordion__summary input[type="checkbox"]{
	position: absolute;
	left: 265px;
    top: 2px;
}

.THIS .acordionContainer .slds-accordion__section.slds-is-open .slds-button{
	color: rgb(51, 51, 51);
	text-decoration: none;
}

.THIS .acordionContainer .slds-accordion__summary a{
	color: #fff;
	text-decoration: none;
}

.THIS .acordionContainer .slds-accordion__summary a:hover{
	color: #fff;
	text-decoration: none;
}

.THIS .acordionContainer .slds-accordion__summary a:active{
	color: #fff;
	text-decoration: none;
}

.THIS .acordionContainer .slds-accordion__summary a:focus{
	color: #fff;
	text-decoration: none;
}

.THIS .acordionContainer li.checked .slds-accordion__section .slds-accordion__summary a{
	color: rgb(51, 51, 51);
}

.THIS .acordionContainer li.checked .slds-accordion__section .slds-accordion__summary a:hover{
	color: rgb(51, 51, 51);
}

.THIS .acordionContainer li.checked .slds-accordion__section .slds-accordion__summary a:active{
	color: rgb(51, 51, 51);
}

.THIS .acordionContainer li.checked .slds-accordion__section .slds-accordion__summary a:focus{
	color: rgb(51, 51, 51);
}

.THIS .acordionContainer li.checked .slds-accordion__section .slds-accordion__summary input.uiInput--checkbox[type="checkbox"]:checked{
	border-color: #77a11e;
	background-color: #77a11e;
	box-shadow: #77a11e 0px 0px 3px;
}

.THIS .acordionContainer .slds-accordion__content{
	padding-left: 55px;
}

.THIS .paginationTable{
	width: 100%;
}

@media screen and (max-width: 650px) {
	.THIS .paginationBlock {
	    padding: 10px 0;
	}
    .THIS .paginationTable{
		width: 100%;
		padding-top: 50px;
	}
}