.THIS.listWrapper .paginationBlock{
	text-align: right;
	padding: 10px 15px;
	position: relative;
}

.THIS.listWrapper .paginationBlock table{
	width: auto;
	margin: 0 0 0 auto;
}

.THIS.listWrapper .paginationBlock table input.uiInputNumber{
	width: 40px;
    box-sizing: border-box;
    border-radius: 0;
    padding: 0 5px;
    font-size: 13px;
    line-height: 15px;
    height: 30px;
    min-height: 30px;
    margin: 0 7px;
}

.THIS.listWrapper .paginationBlock table tr td{
	border-right: 1px solid #98c8ff;
    padding: 0 10px;
}